<%- include('partials/header'); -%>

<div class="container">
  <div class="d-grid gap-2">
    <a href="/dars1" class="btn btn-primary" type="button">1 - dars</a>
    <a href="/dars2" class="btn btn-primary" type="button">2 - dars</a>
    <a href="/dars3" class="btn btn-primary" type="button">3 - dars</a>
    <a href="/barcha-darslar" class="btn btn-secondary" type="button">4 - dars</a>
    <a href="/barcha-darslar" class="btn btn-secondary" type="button">5 - dars</a>
    <a href="/barcha-darslar" class="btn btn-secondary" type="button">6 - dars</a>
  </div>
</div>
