<%- include('partials/header'); -%>

<div class="px-4 py-5 my-5 text-center">
  <h1>dars3</h1>
</div>

<%- include('partials/nextBtn', {nextRoute: 'dars32'}); -%>
<!-- prev -->
<%- include('partials/previousBtn', {previousRoute: 'barcha-darslar'}); -%>
