<%- include('partials/header'); -%>

<div class="px-5 py-5 my-5 text-center">
  <h1>dars4</h1>
</div>

<%- include('partials/nextBtn', {nextRoute: 'barcha-darslar'}); -%>
<!-- prev -->
<%- include('partials/previousBtn', {previousRoute: 'barcha-darslar'}); -%>
