<%- include('partials/header'); -%>

<div class="px-5 py-5 my-5 text-center">
  <img src="dars33.png" alt="dars33" class="img-fluid" />
  <img src="dars34.png" alt="dars34" class="img-fluid" />
  <img src="dars35.png" alt="dars35" class="img-fluid" />
</div>

<%- include('partials/nextBtn', {nextRoute: 'dars3_1'}); -%>
<!-- prev -->
<%- include('partials/previousBtn', {previousRoute: 'dars32'}); -%>
