<%- include('partials/header'); -%>

<div class="px-5 py-5 my-5 text-center">
  <img src="dars3_1.png" alt="dars3_1" class="img-fluid" />
  <img src="dars3_2.png" alt="dars3_2" class="img-fluid mb-3" />
  <img src="dars3_3.png" alt="dars3_3" class="img-fluid" />
</div>

<%- include('partials/nextBtn', {nextRoute: 'dars32'}); -%>
<!-- prev -->
<%- include('partials/previousBtn', {previousRoute: 'barcha-darslar'}); -%>
