<%- include('partials/header'); -%>

<div class="px-4 py-5 my-5 text-center">
  <img src="dars2.png" alt="text1" class="img-fluid" />
  <img src="dictionary2.png" alt="dictionary1" class="img-fluid" />
</div>

<%- include('partials/nextBtn', {nextRoute: 'dars2-2'}); -%>
<!-- prev -->
<%- include('partials/previousBtn', {previousRoute: 'barcha-darslar'}); -%>
