<%- include('partials/header'); -%>

<div class="px-5 py-5 my-5 text-center">
  <img src="dars3_d.png" alt="dars3_d" class="img-fluid" />
</div>

<%- include('partials/nextBtn', {nextRoute: 'dars3_2'}); -%>
<!-- prev -->
<%- include('partials/previousBtn', {previousRoute: 'dars33'}); -%>
