<%- include('partials/header'); -%>

<div class="px-4 py-5 text-center">
  <img src="dars1_2.png" alt="dars1_2" class="img-fluid" />

  <form action="/dars1_2" method="post">
    <!-- Test -->
    <%- include('partials/test', {count: 4}); -%>
    <!-- Next Button -->
    <%- include('partials/nextBtn', {nextRoute: ''}); -%>
  </form>
  <%- include('partials/previousBtn', {previousRoute: 'dars1'}); -%>
</div>
