<%- include('partials/header'); -%>

<div class="px-5 py-5 my-5 text-center">
  <img src="dars3_iv.png" alt="dars3_iv" class="img-fluid" />
</div>

<%- include('partials/nextBtn', {nextRoute: 'barcha-darslar'}); -%>
<!-- prev -->
<%- include('partials/previousBtn', {previousRoute: 'dars3_3'}); -%>
