<%- include('partials/header'); -%>

<div class="px-4 py-5 my-5 text-center">
  <img src="dars2_3.png" alt="dars2_3" class="img-fluid" />
</div>

<%- include('partials/nextBtn', {nextRoute: 'dars2-4'}); -%>

<!-- prev -->
<%- include('partials/previousBtn', {previousRoute: 'dars2-2'}); -%>
