<%- include('partials/header'); -%>
<form action="/dars1-3" method="post">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="dars1_3_1.png" alt="dars1_3_1" class="img-fluid" />

          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mb-3">
                <input type="" class="form-control" id="exampleInput1" aria-describedby="Help" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="dars1_3_2.png" alt="dars1_3_2" class="img-fluid" />

          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <input type="" class="form-control" id="exampleInput1" aria-describedby="Help" />
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="dars1_3_3.png" alt="dars1_3_3" class="img-fluid" />

          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <input type="" class="form-control" id="exampleInput1" aria-describedby="Help" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/finish'); -%>
</form>

<!-- prev btn -->
<%- include('partials/previousBtn', {previousRoute: 'dars1-2'}); -%>
