<%- include('partials/header'); -%>

<div class="px-4 py-5 my-5 text-center">
  <img src="dars1text.png" alt="text1" class="img-fluid" />
  <img src="dictionary1.png" alt="dictionary1" class="img-fluid" />
</div>
<%- include('partials/nextBtn', {nextRoute: 'dars1-2', previousRoute: '#'}); -%>

<!-- prev -->
<%- include('partials/previousBtn', {previousRoute: 'barcha-darslar'}); -%>
