<%- include('partials/header'); -%>

<div class="px-5 py-5 my-5 text-center">
  <img src="dars32.png" alt="dars32" class="img-fluid" />
</div>

<%- include('partials/nextBtn', {nextRoute: 'dars33'}); -%>
<!-- prev -->
<%- include('partials/previousBtn', {previousRoute: 'dars3'}); -%>
