<%- include('partials/header'); -%>

<div class="px-4 py-5 text-center">
  <img
    class="img-fluid d-block mx-auto mb-4"
    src="https://riwaqalquran.com/wp-content/uploads/2020/08/Learn-to-Speak-Arabic-Like-Natives-8-Achievable-Tactics.jpg"
    alt="arabic" />
  <h1 class="display-5 fw-bold text-body-emphasis">Darsni boshlaymizmi?</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">'Basmala'ni aytishni unutmang!</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/barcha-darslar" class="btn btn-outline-success btn-lg px-4 gap-3">START</a>
    </div>
  </div>
</div>
